.app {
  margin: 5px;
}

.track th {
  text-align: right;
  width: 130px;
}

.track .vol {
  width: 100px;
}

.track .mute {
  width: 30px;
}

.beat {
  background: #eee;
  text-align: center;
  line-height: 1em;
  border-radius: 2px;
}

.beat.active {
  background: pink;
}

.beat.current {
  background: #f5f5eb;
}

.beat:nth-of-type(3),
.beat:nth-of-type(7),
.beat:nth-of-type(11),
.beat:nth-of-type(15) {
  border-left: 4px solid lightblue;
}

.beat > a {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.controls td {
  padding-top: .5em;
}

.bpm input {
  width: 60px;
  border: 0;
  font-size: 1em;
}

.material-icons.disabled-icon {
  color: lightgrey;
}
